<div class="container col-sm-10">
  <table class="table table-striped-columns">
    <thead class="table-primary">
      <tr>
        <th scope="col" width="25%">To late</th>
        <th scope="col" width="25%">To do</th>
        <th scope="col" width="25%">Stop</th>
        <th scope="col" width="25%">Done</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td>
          <div class="card-todo" *ngFor="let tarefa of tarefas">
            {{ tarefa.content }}
          </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <a href="testando">entrar</a>
  <br />

  <div class="container col-sm-5">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Descrição</th>
          <th scope="col">Finalizado</th>
          <th scope="col">Data da Tarefa</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let tarefa of tarefas">
          <th>{{ tarefa.id }}</th>
          <td>{{ tarefa.content }}</td>
          <td>{{ tarefa.completed }}</td>
          <td>{{ tarefa.due.date | date: "dd/MM/yyyy" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
