<div class="row">
  <h4>Atividades</h4>
  <div class="col-sm-11">
    <table>
      <tr>
        <td>
          <div class="card-dash">
            <div class="card-dash-blue">
              <h6>Esta Semana</h6>
              <p>4 Dia(s)</p>
            </div>
          </div>
        </td>
        <td>
          <div class="card-dash">
            <div class="card-dash-green">
              <h6>Esta Semana</h6>
              <p>10 Km</p>
            </div>
          </div>
        </td>
        <td>
          <div class="card-dash">
            <div class="card-dash-yellow">
              <h6>Media da Semana</h6>
              <p>2.50 Km</p>
            </div>
          </div>
        </td>
        <td>
          <div class="card-dash">
            <div class="card-dash-red">
              <h6>Total do Mes</h6>
              <p>40 Km</p>
            </div>
          </div>
        </td>
        <td>
          <div class="card-dash">
            <div class="card-dash-purple">
              <h6>Total Mes Anterior</h6>
              <p>25 Km</p>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <br />

  <!-- card para usar -->
  <div class="row">
    <h4>Saude</h4>
    <div class="col-sm-11">
      <table>
        <tr>
          <td>
            <div class="card-white">
              <div class="card-white-red">
                <h6>Esta Semana</h6>
                <p>4 Dia(s)</p>
              </div>
            </div>
          </td>
          <td>
            <div class="card-white">
              <div class="card-white-blue">
                <h6>Este Mes</h6>
                <p>14 Dia(s)</p>
              </div>
            </div>
          </td>
          <td>
            <div class="card-white">
              <div class="card-white-orange">
                <h6>Esta Semana</h6>
                <p>8,5 Km</p>
              </div>
            </div>
          </td>
          <td>
            <div class="card-white">
              <div class="card-white-green">
                <h6>Este Mes</h6>
                <p>40 Km</p>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <br /><br />
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Metas</div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h6>Atividades Semanais</h6>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                  role="progressbar"
                  aria-label="Danger striped example"
                  style="width: 75%"
                  aria-valuenow="75"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  75%
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h6>Atividades Mesais</h6>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                  role="progressbar"
                  aria-label="Danger striped example"
                  style="width: 25%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  25%
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h6>Tarefas diarias</h6>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                  role="progressbar"
                  aria-label="Danger striped example"
                  style="width: 90%"
                  aria-valuenow="90"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  90%
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h6>Atividades Semanal</h6>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                  role="progressbar"
                  aria-label="Danger striped example"
                  style="width: 50%"
                  aria-valuenow="50"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  50%
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
