$bodercardwhite: 8px solid;
$carddashborderradius: 10px 10px 10px 10px;
$carddashwidth: 190px;
$carddashheight: fit-content;
$carddashpadding: 10px;
$carddashcolor: white;
$carddashaligncontent: center;
$carddashmarginright: 10px;

.card-dash {
  border-radius: $carddashborderradius;
  width: $carddashwidth;
  height: $carddashheight;
  padding: $carddashpadding;
  color: $carddashcolor;
  align-content: $carddashaligncontent;
  margin-left: 0px;
}

.card-dash-blue {
  box-shadow: 5px 5px 10px grey;
  background-color: #005b8f;
  border-radius: $carddashborderradius;
  width: $carddashwidth;
  height: $carddashheight;
  padding: $carddashpadding;
  color: $carddashcolor;
  margin-right: $carddashmarginright;
}

.card-dash-red {
  background-color: red;
  box-shadow: 5px 5px 10px grey;
  border-radius: $carddashborderradius;
  width: $carddashwidth;
  height: $carddashheight;
  padding: $carddashpadding;
  color: $carddashcolor;
  margin-right: $carddashmarginright;
}

.card-dash-orange {
  background-color: orangered;
  box-shadow: 5px 5px 10px grey;
  border-radius: $carddashborderradius;
  width: $carddashwidth;
  height: $carddashheight;
  padding: $carddashpadding;
  color: $carddashcolor;
  margin-right: $carddashmarginright;
}

.card-dash-green {
  background-color: green;
  box-shadow: 5px 5px 10px grey;
  border-radius: $carddashborderradius;
  width: $carddashwidth;
  height: $carddashheight;
  padding: $carddashpadding;
  color: $carddashcolor;
  margin-right: $carddashmarginright;
}

.card-dash-purple {
  background-color: purple;
  box-shadow: 5px 5px 10px grey;
  border-radius: $carddashborderradius;
  width: $carddashwidth;
  height: $carddashheight;
  padding: $carddashpadding;
  color: $carddashcolor;
  margin-right: $carddashmarginright;
}

.card-dash-yellow {
  background-color: #f0b300;
  box-shadow: 5px 5px 10px grey;
  border-radius: $carddashborderradius;
  width: $carddashwidth;
  height: $carddashheight;
  padding: $carddashpadding;
  color: $carddashcolor;
  margin-right: $carddashmarginright;
}

.card-white {
  border-radius: 5px 5px 5px 5px;
  width: 250px;
  height: fit-content;
  padding: 10px;
  align-content: center;
  margin-left: 10px;
  color: black;
}

.card-white-blue {
  border-radius: inherit;
  background-color: white;
  width: inherit;
  height: inherit;
  padding: inherit;
  color: inherit;
  box-shadow: -5px 5px 10px grey;
  border-left: $bodercardwhite;
  border-color: #005b8f;
}

.card-white-red {
  border-radius: inherit;
  background-color: white;
  width: inherit;
  height: inherit;
  padding: inherit;
  color: inherit;
  box-shadow: -5px 5px 10px grey;
  border-left: $bodercardwhite;
  border-color: red;
}

.card-white-orange {
  border-radius: inherit;
  background-color: white;
  width: inherit;
  height: inherit;
  padding: inherit;
  color: inherit;
  box-shadow: -5px 5px 10px grey;
  border-left: $bodercardwhite;
  border-color: goldenrod;
}

.card-white-green {
  border-radius: inherit;
  background-color: white;
  width: inherit;
  height: inherit;
  padding: inherit;
  color: inherit;
  box-shadow: -5px 5px 10px grey;
  border-left: $bodercardwhite;
  border-color: green;
}
