<table>
<tr>
  <td >
    <div class="card-dash">
      <div class="card-dash-blue">
        <h6>Dias Correndo</h6>
        <p>1/5</p>
      </div>
    </div>
  </td>
  <td>
    <div class="card-dash">
      <div class="card-dash-red">
        <h6>Dias Correndo</h6>
        <p>1/5</p>
      </div>
    </div>
  </td>
  <td>
    <div class="card-dash">
      <div class="card-dash-orange">
        <h6>Dias Correndo</h6>
        <p>1/5</p>
      </div>
    </div>
  </td>
  <td>
    <div class="card-dash">
      <div class="card-dash-green">
        <h6>Dias Correndo</h6>
        <p>1/5</p>
      </div>
    </div>
  </td>
</tr>
<tr>
  <td>
    <div class="card-white">
      <div class="card-white-red">
        <h6>Dias Correndo</h6>
        <p>1/5</p>
      </div>
    </div>
  </td>
  <td >
    <div class="card-white">
      <div class="card-white-blue">
        <h6>Dias Correndo</h6>
        <p>1/5</p>
      </div>
    </div>
  </td>
  <td>
    <div class="card-white">
      <div class="card-white-orange">
        <h6>Dias Correndo</h6>
        <p>1/5</p>
      </div>
    </div>
  </td>
  <td>
    <div class="card-white">
      <div class="card-white-green">
        <h6>Dias Correndo</h6>
        <p>1/5</p>
      </div>
    </div>
  </td>
</tr>

</table>
