<div
  class="offcanvas offcanvas-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="col-12">
      <div class="classemenu">
        <a href="">Home</a>
      </div>
      <div class="classemenu">
        <a href="dashboard">DashBoard</a>
      </div>
      <div class="classemenu">
        <a href="tasklist">Task</a>
      </div>
    </div>
    <div class="classemenu">
      <a href="mesure">Body Mesurement</a>
    </div>
  </div>
</div>
