.classemenu {
  height: 30px;
  width: fit-content;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
}

.classemenu:hover {
  background-color: #6c9cf4
}
