<header></header>
<main>
  <div class="container-fluid">
    <div class="row" style="background-color: #045cdc; height: 6vh">
      <div class="col-4">
        <button
          class="btn btn-primary"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBothOptions"
          aria-controls="offcanvasWithBothOptions"
        >
          Menu
        </button>
      </div>
      <div class="col-4"></div>
      <div class="col-4" style="text-align: right">
        <button
          class="btn btn-primary"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
        >
          Ficha Medica
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 panel-main-right">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <app-ficha-medica></app-ficha-medica>
  <app-menu></app-menu>
</main>
